#header {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

#general-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content {
    display: flex;
    flex-direction: row;
}

.content-item {
    flex-grow: 1;
}