.general {
    width: 250px;
    max-width: 250px;
    height: 300px;
    max-height: 300px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

.general img {
    max-width: 250px;
    max-height: 250px;
}

.general .general-details {
    margin: 10px 10px 10px 10px;
}